@!include('layouts.partials.header')
<section class="hero is-dark is-fullheight">
  <div class="hero-head">
  @include('layouts.partials.navbar')
  </div>
  @!section('content')
  <div class="hero-foot">
  </div>
@include('layouts.partials.footer')
